@font-face {
  font-family: "AgoraSansProLight";
  src:
    local("AgoraSansProLight"),
    url("../fonts/AgoraSansProLight.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProRegular";
  src:
    local("AgoraSansProRegular"),
    url("../fonts/AgoraSansProRegular.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProThin";
  src:
    local("AgoraSansProThin"),
    url("../fonts/AgoraSansProThin.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProXThin";
  src:
    local("AgoraSansProXThin"),
    url("../fonts/AgoraSansProXThin.woff") format("woff");
}

@font-face {
  font-family: "AgoraSansProBold";
  src:
    local("AgoraSansProBold"),
    url("../fonts/AgoraSansProBold.woff") format("woff");
}


/*-------Common Elements---------*/
html,
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	color: #000000;
	font-family: "AgoraSansProLight", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "AgoraSansProXThin", sans-serif;
	letter-spacing: 0.06em;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 2.4em;
	letter-spacing: 0.17em;
}

h2 {
	font-size: 2.5em;
	letter-spacing: 0.11em;
}

h3 {
	font-size: 1.3em;
	letter-spacing: 0.06em;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
	font-size: 1.3333em;
}

p {
	margin: 0 0 0.5em;
}

.btn {
	text-transform: uppercase;
	font-size: 1.444em;
	text-decoration: none;
	color: initial;
	border: 1px solid #010101;
	padding: 0.6em 1.4em;
	border-radius: 0.5em;
	font-family: "AgoraSansProThin";
	letter-spacing: 0.06em;

}

section {
	

}


/*----------------HEADER---------------*/

nav {
	min-height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	padding: 0 10px 0 10px
}

.main-nav {
	position: relative;
	width: 26px;
	height: 26px;
	margin: 0 20px;
	cursor: pointer;
	border: 1px solid black
}

.main-nav span,
.main-nav span::before,
.main-nav span::after {
	position: absolute;
	display: block;
	width: 26px;
	height: 2px;
	background-color: #000000;
	transition-duration: 0.3s;
}

.main-nav span {
	top: 12px;
	left: 0;
}

.main-nav span::before {
	content: "";
	top: -8px;
	left: 0px;
}

.main-nav span::after {
	content: "";
	top: 8px;
	left: 0;
}

.main-nav:hover span{
	transform: rotate(90deg) scale(0.8, 1) translateX(-2px) skew(0deg, 30deg);
	background-color: red
}

.main-nav:hover span::before {
	transform-origin: top right;
	transform:  rotate(45deg) scale(0.5, 1) translate(15px, 5px);
}

.main-nav:hover span::after {
	transform-origin: bottom right;
	transform:  rotate(-45deg) scale(0.5, 1)  translate(15px, -5px);
}

.main-nav ul {
	width: auto;
	white-space: nowrap;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	transform-origin: top left;
	transition-duration: 1.3s;
	opacity: 0;
	transform: scale(0.5);
}

.main-nav li {
	position: relative;
}

.main-nav > ul {
	top: 25px;
	left: -20px;
	padding: 27px 0 0;
}

.main-nav:hover > ul {
	opacity: 1;
	transform: scale(1);
}

.main-nav a {
	display: block;
	position: relative;
	min-width: 150px;
	padding: 10px 20px;
	box-sizing: border-box;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.85em;
}

.main-nav li:hover > a {
	color: #ffffff;
	background: #ffd200;
	font-weight: bold;
}

.main-nav li a:active {
	color: #888888;
}

.main-nav li ul {
	top: 0;
	left: 100%;
}

.main-nav li:hover > ul {
	opacity: 1;
	transform: scale(1);
}

.main-nav li > ul li {
	border-left: 1px solid #f3f0e7;
}

.main-nav li > ul li:first-child {
	border-left: 2px solid #ffd200;
}

.phone_number {
	min-width: 137px;
	margin-right: 36px;
	margin-left: -40px;
	padding: 10px 37px;
	background-color: #ffd200;
	border-radius: 10px;
	font-size: 0.878em;
	letter-spacing: 0.06em;
}

.phone_number a {
	text-decoration: none
}

.logo {
	width: 70%;
	margin-left: 40px
}

.slider {
	background-image: url("../img/header.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 547px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider h1 {
	margin-top: 3%
}

.slider p {
	margin-top: 1%;
	font-size: 1.33em
}

.slider a {
	margin-top: 4%
}

.phone_number:hover {
	font-weight: bold;
}

.phone_number::after {
	content: "";
	display: block;
	width: 100%;
	border-top: 1px dotted #000000;
}

.sign_in a {
	display: block;
	content: "";
	position: relative;
	width: 23px;
	height: 25px;
	border: 2px solid #000000;
	border-left: none;
	margin-left: 8px;
	transition-duration: 0.3s;
	font-size: 0;	
}

.sign_in a::before {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: -8px;
	width: 19px;
	height: 2px;
	background-color: #000000;
	transition-duration: 0.3s;
}

.sign_in a::after {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 0px;
	width: 8px;
	height: 8px;
	border: 2px solid #000000;
	border-left: none;
	border-bottom: none;
	transform: translateX(0px) rotate(45deg);
	transition-duration: 0.3s;
}

.sign_in a:hover::before {
	background-color: #ffffff;
	transform: translateX(7px);
}

.sign_in a:hover::after {
	border: 2px solid #ffffff;
	border-left: none;
	border-bottom: none;
	transform: translateX(7px) rotate(45deg);
}

.sign_in a:hover {
	width: 5px;
	border-right: 20px solid #000000;

}


/*----------------Steps---------------*/

.steps li {
	display: inline-block;
	margin-top: 200px;
	font-size: 1.333em;
	margin-left: 70px;
	margin-right: 70px;
	position: relative;
	width: 5em
}

.steps ul {
	text-align: center;
	min-height: 360px;

}

.steps span::before {
	content: "";
	position: absolute;
	background-image: url("../img/111.png");
	background-repeat: no-repeat;
	top: -160px;
	left: -20px;
	width: 139px;
	height: 139px;
	z-index: 1;
	background-color: white
}

.steps li:nth-child(2) span::before {
	background-position: -269px 0px;
}

.steps li:nth-child(3) span::before {
	background-position: -538px 0px;
}

.steps li:nth-child(4) span::before {
	background-position: -807px 0px;
}

.steps li:first-child span::after {
	content: "";
	position: absolute;
	width: 580%;
	border-top: 5px dashed #fcd40a;
	top: -90px;
	z-index: 0;
}


/*-------------------------Advantage----------------------------*/

.Advantage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #f3f0e7;
	text-align: center;

}

.Advantage_main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}

.Advantage .btn {
	background-color: #e11a27;
	color: #ffffff
}

.cat,
.house,
.social {
	background-color: white;
	border-radius: 50%
}

.Advantage figcaption {
	margin-top: 20px;

}

/*-----------------------Ready Solutions--------------------*/

.ready {
	padding: 60px
}

.ready h2 {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 45px
}

.ready div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ready article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 313px;
	min-height: 367px;
	box-sizing: border-box;
	border: 5px solid #ffd200;
	border-radius: 10px;
	margin-top: 22px;
}


.ready article h3 {
	display: block;
	width: 100%;
	padding: 39px 0;
	background-color: #ffd200;
	font-family: "AgoraSansProRegular";
	font-size: 1.6em;
	line-height: 1em;
	letter-spacing: 0.13em;
	text-align: center;
}

.ready article ul {
	margin: 15px 22px 5px;
	padding: 0;
	list-style: none;
}

.ready article li {
	position: relative;
	padding-left: 37px;
	line-height: 1.75em;
	letter-spacing: 0.02em;
}

.ready article li::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #ffd200;
	border-top-color: transparent;
	border-radius: 50%;
	transform: rotate(45deg);
}

.ready article li:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 6px;
	width: 9px;
	height: 3px;
	border: 2px solid #000000;
	border-top: none;
	border-right: 0;
	transform: rotate(-45deg);
}

.ready article p {
	display: block;
	width: 100%;
	margin: auto 0 5px;
	font-size: 3.3333em;
	text-align: center;
}

.ready article::after {
	content: "Make your " attr(data-title);
	display: block;
	width: 100%;
	padding: 14px 0 8px;
	background-color: #ffd200;
	font-family: "AgoraSansProThin";
	font-size: 1.2em;
	letter-spacing: 0.09em;
	text-align: center;
}

.ready .best h3 {
	position: relative;	
}

.ready .best h3::before {
	content: "";
	display: block;
	position: absolute;
	width: 155px;
	top: -49px;
	left: 52px;
	border: 22px solid #ffd200;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.ready .best h3::after {
	content: "Bestseller";
	position: absolute;
	top: -22px;
	left: 0;
	width: 100%;
	font-family: "AgoraSansProBold";
	font-size: 0.6111em;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	color: #e11a27;
}

/*-----------------------------Testominials-----------------------------------*/

.testominials {	
	min-height: 767px;
	background: #f7f0e6 url("../img/book.jpg") no-repeat 50% 50%;
	background-size: auto 100%;
}

.testominials h2 {
	margin-left: 100px
}

.testominials article {
	margin: 20px 50% 0px 100px
}

.testominials article header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-left: 188px;
	min-height: 158px;
	margin-bottom: 25px;
}


.testominials article header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 158px;
	height: 158px;
	border-radius: 50%;
	background: url("../img/china.png") no-repeat 50% 50%;
}

.testominials .next {
	display: block;
	position: relative;
	margin: 25px 0;
	padding-left: 500px;
	text-align: left;
	color: #000000;
	text-decoration: none;
	font-size: 0.8888em;
	letter-spacing: -0.015em;
}

.testominials .next::before {
	content: "";
	display: block;
	position: absolute;
	top: 9px;
	left: 615px;
	width: 20px;
	height: 1px;
	background-color: #000000;
}

.testominials .next::after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 635px;
	border: 2px solid #000000;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-width: 7px;
}

.testominials .btn {
	background: transparent;
	color: #000000;
	margin-left: 100px
}

/*-----------------------------INFO-------------------------------*/

.info {
	min-height: 659px;
	text-align: center
}

.info_blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px
}

.info article {
	width: 313px;
	height: 307px;
	margin-bottom: 75px;
	background: #f7f0e6;
	border-radius: 10px;
	text-align: left;
}

.info article h3 {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 11px;
	background: #ffd200;
	border-bottom: 6px solid #ffffff;
	font-size: 1.5em;
	letter-spacing: 0.15em;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 25px
}

.info article > p {

	padding-left: 36px;
	padding-right: 36px;
	font-family: "AgoraSansProRegular";
}

.info article ul {
	margin: 0;
	margin-left: 25px;
	line-height: 1.7em;
}

.info article .bonus {
	font-family: "AgoraSansProBold";
	color: #e11a27;
}

.info .btn {
	background-color: #e11a27;
	color: #ffffff;
}

/*--------------- FOOTER ---------------*/

body > footer {
	background-color: #ffd200;
	min-height: 376px;
	font-family: "AgoraSansProRegular";
	line-height: 1.5em;
	padding-top: 20px
}

footer ul,
footer aside {
	width: 180px;
	height: 200px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #000000;
	line-height: 1.7em;
	padding: 0;
	padding-top: 20px
}

footer .footer_blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	min-height: 300px;
}

footer a {
	color: #000000;
	text-decoration: none;
	font-size: 0.8888em;
	letter-spacing: 0.06em;
}

footer aside a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	border-radius: 3px;
	font-size: 0;
	background: url("../img/222.png") no-repeat;
}

.rights {
	text-align: center
}

.fs {
	background-position: 0 0;
}

.vk {
	background-position: -44px 0;
}

.in {
	background-position: -86px 0;
}

footer .design {
	width: 85px;
	height: 100px;
	padding-top: 5px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 10px;
	font-size: 0.6111em;
	margin-top: 40px
}
